<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9dbbf5dd-7a44-4ce4-939f-d5b7031ca7b9/resourceGroups/DemoCaixaRecursos/providers/Microsoft.Web/sites/democaixa</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://democaixa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>democaixa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>democaixa</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$democaixa</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>